<!-- Variabili Locali Della View Sul Layout -->
<% provide(:v_titolo, "I Tuoi Menu") %>
<% provide(:v_minides, "Menu") %>

<%# content_for :v_lindex do %>
<!-- class="active" -->
<%# end %>
 <%#= yield :v_lindex %>
<%# content_for(:title, " class=&quot;active&quot;") %>

<!-- Esempio Carico Script In Pagina -->
<% content_for :script_view do %>
<script>
   $(function() {
    $('#lista_menus').load('/menus/lista_menus_filtra/'+ 'XXXX').hide().fadeIn(500);
   });

   $(document).on('click', '#ATTENZIONE-DEFINIRE', function(event) {
    $('#lista_menus').html('');
     var txt_des=$('#txt_descrizione').val().trim();
     if (txt_des!="") {
       $('#lista_menus').load('/menus/lista_menus_filtra/'+ $('#txt_descrizione').val()).hide().fadeIn(500);
     } else {
       $('#lista_menus').load('/menus/lista_menus_filtra/'+ 'XXXX').hide().fadeIn(500);
       }
   });

   //Action Elimina menu
   $(document).on('click', '[id*="elimina_menu_"]', function() {
   var indice=this.id.split('_')[2];
    bootbox.confirm("Sei sicuro di voler eliminare  il menu: "+ $("#nome_" + indice).text() + " ?", function(result) {
       if (result==true) {
         //se passo indice automaticamente sto passando tutto l'oggetto
          $.ajax({
              url: "/menus/" + indice,
              type: 'DELETE',
              success: function() {
                $('#lista_menu_' + indice).fadeOut(600, function(){ $(this).remove();
                });
              }
          });
       };
   });
   });

  //Action Modifica menu
   $(document).on('click', '[id*="modifica_menu_"]', function() {
     var indice=this.id.split('_')[2];
     window.location.href = "/menus/" + indice +"/edit";
   });

   //Cerca Memu
   $(document).on('click', '#btn_cerca_menu', function() {
    //codifica caratteri speciale e spazi vuoti
    var txt_des=encodeURIComponent($('#txt_descrizione').val().trim());
    if (txt_des!="") {
      $('#lista_menus').load('/menus/lista_menus_filtra/' + txt_des).hide().fadeIn(500);
    } else {
      $('#lista_menus').load('/menus/lista_menus_filtra/' + 'XXXX').hide().fadeIn(500);
    }
    });

</script>
<% end %>

<!-- Main row -->
<div class="row">
    <section class="NOconnectedSortable">
      <div class="box box-primary col-xs-12">
          <div class="box-header">
              <!-- <i class="ion ion-clipboard"></i> -->
              <input type="text" id="txt_descrizione" class="form-control pull-left" name="txt_descrizione" placeholder="Cerca menu ..." style="width:200px;margin-left:10px;margin-top:5px;" maxlength="50">
              <div class="box-tools  pull-left">
                  <!-- <div class="box-header clearfix no-border"> -->
                      <button id="btn_cerca_menu" class="btn btn-default pull-left"><i class="fa fa-search" style="font-size:20px;font-weight:bold;"></i><strong>Cerca</strong></button>
                      <!-- <button id="btn_inserisci_menu" class="btn btn-default pull-left"><i class="fa fa-plus" style="font-size:20px;font-weight:bold;"></i><strong>Aggiungi</strong></button> -->
                      <%= link_to new_menu_path ,class:"btn btn-default pull-left",id:"btn_inserisci_menu" do %>
                        <i class="fa fa-plus" style="font-size:20px;font-weight:bold;"></i><strong>Aggiungi</strong>
                      <% end %>
                      <!-- <button id="btn_salva_ordine" class="btn btn-default pull-left"><i class="fa fa-bars" style="font-size:20px;font-weight:bold;"></i><strong>Ordina</strong</button> -->
                  <!-- </div> -->
              </div>
          </div>
              <div id="lista_menus"></div>
      </div>
    </section>
</div>
